name: Authentication Scan

on:
  schedule:
  - cron: '0 8 * * 1,4'
  push:
    branches: [ main ]
    paths:
      - 'src/**'
      - 'Dockerfile'
  pull_request:
    branches: [ main ]
    types: [opened, synchronize, reopened]
    paths:
      - 'src/**'
      - 'Dockerfile'
jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v5
    - name: Build the Docker image
      run: docker build . --tag altinn-authentication:${{github.sha}}

    - uses: Azure/container-scan@f9af925b897d8af5f7e0026b8bca9346261abc93 # v0.1
      with:
        image-name: altinn-authentication:${{ github.sha }}
      env:
        DOCKLE_HOST: "unix:///var/run/docker.sock"