name: Pack and publish JWTCookieAuthentication nuget package

on:   
  release:
    types:
      - published

jobs:
  build-pack:
    if: startsWith(github.ref, 'refs/tags/JWTCookieAuthentication-')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5
        with:
          dotnet-version: |
            9.0.x

      - name: Build
        working-directory: src/jwtcookie/Authentication
        run: |
          dotnet build --configuration Release

      - name: Pack JWTCookieAuthentication
        working-directory: src/jwtcookie/Authentication
        run: |
          dotnet pack --configuration Release --no-build

      - name: Create artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: nuget package
          path: src/jwtcookie/Authentication/bin/Release/*.nupkg
          if-no-files-found: error
           
      - name: publish JWTCookieAuthentication
        env:
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
        working-directory: src/jwtcookie/Authentication
        run: |
          dotnet nuget push bin/Release/*.nupkg --source https://api.nuget.org/v3/index.json --api-key "$NUGET_API_KEY"
